.boxcl{
    display: flex;
    width: 100%;
    height: 300px;
    background-color:#f4f7fb;;
    justify-content: space-between
}
.boxcl_small_2{
    width: 465px;
    height: 300px;
    background-color:red;
}
.boxcl_small_2 img{
    width: 100%;
    height: 100%;
    background:transparent;

}
.boxcl_small_1{
font-size: 24px;
font-weight: 700;
color: #4f585e;
padding-bottom: 15px;
line-height: 1.8;
font-family: Open Sans,sans-serif;
}
.containerlast{
display:grid;
grid-gap: 14px;
grid-template-columns: 300px 300px 300px 300px;
width: 100%;

height: 600px;
background:#f4f7fb;
}
.last{
background:#f4f7fb;
}
.h4{
margin: 20px;
font: inherit;
outline: none;
vertical-align: baseline;
}
.lastpic{
width: 100%;
height: 130px;
}
.lastpic img{
width: 100%;
height: 100%;
}