* {
    margin: 0;
    padding: 0;
    /* z-index: 100; */
}


.action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 170px;
    margin-right: 10px;
}
.modal_wraper {
    /* display:none; */
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    /* background:red; */
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
    z-index: 500;
}
.modal_container {
    background: white;
    height: 100vh;
    max-width: 35%;
    margin-left: 832px;
    border-radius: 4px;
    position: relative;
    /* right:0; */
    transform: translateX(100%);
    transition: all .2s ease-in-out;
    /* transform: translateZ(100%); */
    z-index: 10;
}
.modal_container button.close {
    position: absolute;
    /* right: 10px; */
    left:-40px;
    top: 27px;
    font-size: 32px;
    background:  #fdffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 11px;
padding-right: 15px;
padding-top: 11px;
padding-bottom: 9px;
color: rgb(202, 197, 197);
    
}
.modal_container button.close:hover {
    color: rgb(184, 33, 33);
    /* font-size:60px; */
    /* cursor:wait ; */
}
.active {
    opacity: 1;
    pointer-events: all;
}
.modal_wraper.active .modal_container {
    transform: translateY(0px);
}
/* /////////////////////////////////////////////////////////////////////////// */
.coupon_div{
    height:400px;
}
.coupon_div input{
    margin:10px;
    width:350px;
    height: 40px;
}
.coupon_div label{
    margin:10px;
   color: #8897a2;
   font-family: Open Sans, sans-serif;
}
.coupon_address{
    border:1px dotted #3bb896;
    background-color: #f2fff8;
    outline:none;
    margin:10px;
    width:340px;
    height:60px;
    border-radius:7px;
    color:black;
    cursor:text;
}