*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    /* background-color:rgb(248, 197, 155); */
    position: sticky;
    top: 0;
    background-color: #10847e;
    justify-content:space-between;
    align-items:center;
   
    
}
.logo{
    display: flex;
    width: 200px;
    height: 70px;
    align-items: center;
    /* justify-content:center; */
    
}
.logo img{
    width: 100%;
    height: 100%;
   
}
.home{
    background-color:rgb(241, 118, 18);
    cursor: pointer;
    /* width: 40px; */
    /* height: 40px; */
    font-size:18px;
    /* margin-top: 14px; */
    margin-left: 20px;
    border-radius:3px;
    color: white;
}
.home span{
    width: 100%;
}

.menu{
    text-align:center;
}
.icon{
    width: 40px;
    height: 40px;
    /* margin-top: 3px; */
    background-color:white;
    cursor: pointer;
    /* border-radius: 3px; */
    
}
.icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.inp {
    display: flex;
    width: 760px;
    height: 40px;
}
.inp input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border:none;
    outline: none;
    /* border-radius: 7px; */
    /* border-radius: 50%; */

}

.menu{
    width: 200px;
    display: flex;
    justify-content:space-between;
    font-size:18px;
    color: white
}
.menu span{
    width: 100%;
    border-radius:3px;
    cursor: pointer;
}
.menu span:hover{
  background-color:rgb(241, 118, 18);;
  font-size:22px;
  color:azure;
}
.home:hover{

  background-color:rgb(241, 118, 18);
  font-size:22px;
  color:azure;

}
